# NetBeans specific #
nbproject/
build/
nbbuild/
dist/
nbdist/
web/bower_components/bootstrap/
!web/bower_components/bootstrap/dist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear

*.swp
*.swo
build.xml
