<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>FoodNotes ~ Backend</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="bower_components/foodNotes/main.css">

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/foodNotes/controllers.js"></script>
        <script src="bower_components/foodNotes/app.js"></script>
    </head>
    <body role="document" ng-app="foodNotes">

        <div class="container" ng-controller="PageController as page">
            <div ng-class="location.path().slice(1)">


                <!-- Adding interface -->
                <div class="over-page" ng-controller="AddingController as adder">
                    <div class="inner-space">
                        <h1>Adding New log</h1>
                        <button class="btn btn-warn" ng-click="page.mainPage()">Cancel</button>
                        <button ng-hide="adder.saving" class="btn btn-primary" ng-click="adder.save()">Save</button>

                        <form role="form">
                            <div class="form-group">
                                <label for="titleInput">Description</label>
                                <textarea ng-model="log.desc" class="form-control" rows="3"></textarea>
                            </div>

                            <div class="">
                                <div ng-repeat="ing in log.ingredients track by $index">
                                    <div class="little-space form-inline">
                                        <input ng-model="ing.name" type="text" class="form-control" id="titleInput" placeholder="Enter an Ingredient">
                                        <button class="btn btn-danger" ng-click="adder.removeIngredient($index)"><i class="glyphicon glyphicon-remove"></i></button>
                                        <button class="btn btn-default" ng-click=""><i class="glyphicon glyphicon-search"></i></button>
                                    </div>

                                    <div class="list-group" ng-show="ing.name.length > 0 && log.suj.indexOf(ing.name) == - 1">
                                        <a ng-repeat="suj in log.suj| filter:ing.name" href=""  class="list-group-item" ng-click="$parent.ing.name = suj">
                                            {{ suj}}
                                        </a>
                                    </div>

                                </div>

                                <button class="little-space btn btn-primary" ng-click="adder.addIngredient()">Add Ingredient</button>
                            </div>

                            <div class="" ng-repeat="sym in log.symptoms track by $index">
                                <div class="form-inline">
                                    <input ng-model="sym.name" type="text" class="form-control" id="titleInput" placeholder="Enter a Symptom">
                                    <button class="btn btn-danger" ng-click="adder.removeSymptom($index)"><i class="glyphicon glyphicon-remove"></i></button>
                                </div>

                                <div class="list-group" ng-show="sym.name.length > 0 && log.symSuj.indexOf(sym.name) == - 1">
                                    <a ng-repeat="suj in log.symSuj| filter:sym.name" href=""  class="list-group-item" ng-click="$parent.sym.name = suj">
                                        {{ suj}}
                                    </a>
                                </div>


                            </div>

                            <button class="little-space btn btn-primary" ng-click="adder.addSymptom()">Add Symptom</button>

                            <div>
                                <button class="btn btn-primary" ng-hide="adder.saving" ng-click="adder.save()" > Save </button>
                            </div>
                        </form>



                    </div>
                </div>
                <!-- END OF ADDING INTERFACE -->

                <div class="little-space pull-right" ng-controller="UserController as user">
                    Welcome {{ name}}.
                </div>
                <h1> FoodNotes </h1>
                <div ng-show="">
                </div>
                <div ng-controller="HistoryController as history" class="row">
                    <div class="col-lg-12">
                        <div class="little-space btn-group pull-right">
                            <button class="btn btn-default" ng-click="history.prev()" >Previous</button>
                            <button class="btn btn-default .visible-md .visible-lg" ng-click="history.next()" >Next</button>
                        </div>
                        <button class="little-space btn btn-default pull-right" ng-click="history.newest()" >Newest</button>
                        <button class="little-space pull-left btn btn-primary" ng-click="page.addPage()">
                            <i class="glyphicon glyphicon-plus"></i>
                            New Log
                        </button>
                    </div>
                    <div class="col-lg-12" ng-controller="ErrorController">
                        <div ng-show="error.history" class="alert alert-danger">
                            Woops! Looks like there was an error loading your history!
                        </div>
                        <h2 class="text-center" ng-show="history.getHist().length === 0">
                            No entries :( <br />
                            <button class="btn btn-default" ng-click="page.addPage()" > Create one </button> 
                        </h2>
                        <br class="clearfix" />
                    </div>

                    <br class="clearfix" />

                    <br class="clearfix" />
                    <div class="col-md-3" ng-repeat="entry in history.getHist()">
                        <div class="panel panel-default fixed-height" >
                            <div class="panel-heading">
                                <strong>{{ entry.date | date : 'EEEE' }}</strong>
                                <small>{{ entry.date | date : 'MMM, d y' }}</small>
                                <a class="btn btn-default btn-sm pull-right" href="#Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">

                                <p>{{ entry.comments}}</p>
                                <div>


                                </div>
                                Food Items:
                                <ul>
                                    <li ng-repeat="ingredient in entry.theIngredients">
                                        {{ ingredient.ingredient}}
                                    </li>
                                </ul>

                                Symptoms:
                                <ul>
                                    <li ng-repeat="symptom in entry.theSymptoms">
                                        {{ symptom.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>

    </body>
</html>

