<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>FoodNotes ~ Backend</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/bower_components/foodNotes/main.css">

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/foodNotes/app.js"></script>
    </head>
    <body role="document" ng-app="foodNotes">

    <div class="container">
       <div class="pull-right" ng-controller="UserController as user">
          Welcome {{ name }}.
       </div>
       <div ng-controller="HistoryController">
          <div ng-repeat="day in hist" class="row">
             <h2>{{ day.date | date : 'fullDate' }}</h2>
            <div class="" ng-repeat="entry in day.entries">
            <h3>{{ entry.name}}</h3>
<p>{{ entry.description }}</p>
            </div>

          </div>
       </div>
    </div>
    </body>
</html>
